@media (orientation: portrait) {
  /* body {
    background-color: #534949;
  } */

  html {
    font-size: 18pt;
  }

  .logo {
    color: transparent;
  }

  .logo img {
    height: 75px;
  }

  .foot {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: 1rem !important;
  }

  h1 {
    font-size: 3rem;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }

  .home-title {
    grid-area: 1/1/2/2;
    justify-content: center;
  }

  .home-text {
    grid-area: 2/1/-1/-1;
    padding-bottom: 1rem !important;
  }

  .home-picture {
    grid-area: 1/2/2/-1;
    align-items: flex-start;
  }

  /* MINIMUM HEIGHTS */
  /* Set the body and main minimum heights to avoid clashes of items */
  /* @media (max-width: 494px) {
    body {
      min-width: 375px !important;
    }

    main {
      min-height: 464px !important;
    }

    .home-grid {
      min-height: 450px !important;
    }

    @media (max-height: 666px) {
      body {
        min-height: 666px !important;
      }
    }
  } */

  @media (max-width: 494px) {
    body {
      min-width: 375px !important;
    }

    main {
      min-height: 500px !important;
    }

    .home-grid {
      min-height: 485px !important;
    }

    @media (max-height: 800px) {
      body {
        min-height: 800px !important;
      }
    }
  }

  @media (min-width: 495px) {
    main {
      min-height: 528px !important;
    }

    .home-grid {
      min-height: 520px !important;
    }

    @media (max-height: 760px) {
      body {
        min-height: 760px !important;
      }
    }
  }

  @media (min-width: 604px) {
    main {
      min-height: 580px !important;
    }

    .home-grid {
      min-height: 580px !important;
    }

    @media (max-height: 860px) {
      body {
        min-height: 860px !important;
      }
    }
  }

  @media (min-width: 768px) {
    main {
      min-height: 691px !important;
    }

    .home-grid {
      min-height: 691px !important;
    }

    @media (max-height: 970px) {
      body {
        min-height: 970px !important;
      }
    }
  }

  @media (min-width: 992px) {
    main {
      min-height: 770px !important;
    }

    .home-grid {
      min-height: 770px !important;
    }

    @media (max-height: 1112px) {
      body {
        min-height: 1112px !important;
      }
    }
  }

  /* END OF MIN HEIGHTS */

  @media (max-width: 1199px) {
    html {
      font-size: 18pt;
    }

    .navbar {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }

    .navbar .nav-link {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
      font-size: 0.9rem !important;
    }

    h1 {
      font-size: 2.5rem;
    }

    .over-heading {
      font-size: 1.7rem;
    }
  }

  @media (max-width: 991px) {
    html {
      font-size: 16pt;
    }

    .contact {
      margin-left: 0.5rem !important;
    }

    h1 {
      font-size: 2.3rem;
    }

    .over-heading {
      font-size: 1.2rem;
    }

    .home-grid {
      padding: 11px !important;
    }
  }

  @media (max-width: 767px) {
    .logo img {
      padding: 2px;
    }

    .contact {
      margin-left: 0 !important;
    }

    main {
      max-width: 765px !important;
      align-items: flex-start;
    }

    body {
      background-color: #f8f9fa;
    }

    .home-grid {
      border-radius: 0;
      box-shadow: none !important;
      grid-template-columns: 60% 40%;
    }

    .home-title {
      padding-top: 0 !important;
    }
  }

  @media (max-width: 603px) {
    html {
      font-size: 16px;
    }

    .home-grid {
      grid-template-columns: 60% 40%;
    }

    .title-span {
      text-underline-offset: 6px;
    }
  }

  @media (max-width: 494px) {
    html {
      font-size: 14px;
    }

    .logo img {
      height: 60px;
    }

    main {
      align-items: flex-start;
    }

    .home-grid {
      grid-template-columns: auto;
      grid-template-rows: auto auto minmax(120px, 1fr);
    }

    .home-title {
      grid-area: 1/1/2/2;
    }

    .home-text {
      grid-area: 2/1/3/2;
      padding-bottom: 0 !important;
    }

    .home-picture {
      grid-area: 3/1/-1/2;
      min-height: 220px !important;
    }

    .home-picture img {
      min-height: 120px !important;
      min-height: 220px !important;
      min-width: 90px !important;
    }
  }

  @media (max-width: 405px) {
    .foot {
      font-size: 8pt;
    }

    .foot img {
      height: 20px;
    }
  }
}
