@media (orientation: portrait) {
  /* body {
      background-color: #c10000;
    } */

  html {
    font-size: 18pt;
  }

  h1 {
    font-size: 3rem;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }

  .home-title {
    grid-area: 1/1/2/2;
    justify-content: center;
  }

  .home-text {
    grid-area: 2/1/-1/-1;
  }

  .home-picture {
    grid-area: 1/2/2/-1;
    align-items: flex-start;
  }

  @media (max-width: 1199px) {
    html {
      font-size: 18pt;
    }

    h1 {
      font-size: 2.5rem;
    }

    .over-heading {
      font-size: 1.7rem;
    }

    .navbar {
      padding-top: 30px !important;
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }

    .navbar .nav-link {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
    }

    .contact {
      margin-left: 0.5rem !important;
    }
  }

  @media (max-width: 992px) {
    html {
      font-size: 16pt;
    }

    h1 {
      font-size: 2.5rem;
    }
  }
}
